<template>
  <v-form v-model="valid" class="elevation-2 px-2" ref="form">
    <v-container fluid>
      <v-layout row wrap>
        <v-flex 12xs>
          <p class="display-1 text-xs-center">Socket coloriser</p>
        </v-flex>
        <div id="reqInputField">
          <v-subheader>Item Requirements</v-subheader>
          <v-layout wrap justify-space-around id="formLayout">
            <v-flex xs3 v-for="(atr, key) in attributes" :key="key">
              <v-text-field
                class="input-group--active"
                v-model="atr.requirement"
                type="Number"
                :label="key"
                :color="atr.color"
                outline
                min="0"
                @input="validate"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
        </div>
        <div id="socketInputField">
          <v-flex grow xs12>
            <v-subheader>Desired colors</v-subheader>
          </v-flex>
          <v-flex xs12 v-for="(atr, key) in attributes" :key="key">
            <gem-input :label_="atr.color" v-model="atr.sockets" v-on:validate="validate"></gem-input>
          </v-flex>
          <v-flex xs12 align-self-start>
              <v-layout justify-center>
                  <v-flex xs6>
                      <v-text-field ref="totalSocketInput" label="Total Sockets" @input="getTotalSockets" :placeholder="getColoredSockets.toString()" :rules="rules" type="number" min=0 max=6></v-text-field>
                  </v-flex>
              </v-layout>
          </v-flex>
          <v-divider></v-divider>
        </div>
        <v-flex xs12>
          <v-layout justify-space-around>
            <v-flex xs4>
              <v-btn class="success" centered @click="submit" :disabled="!valid">Submit</v-btn>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import GemInput from "@/components/GemInput.vue";

export default {
  data: function() {
    return {
      valid: true,
      totalSockets: 0,
      attributes: {
        dex: {
          requirement: 0,
          color: "green",
          sockets: 0
        },
        int: {
          requirement: 0,
          color: "blue",
          sockets: 0
        },
        str: {
          requirement: 0,
          color: "red",
          sockets: 0
        }
      },
      rules: [
        ()=>this.getColoredSockets<7||"Too much desired colors ( more than 6 )",
        ()=>this.getColoredSockets!=0||"Choose what colors do you need",
        v=> (v||this.getColoredSockets)>=this.getColoredSockets||"Total amount of colored sockets is less than desired colors",
        ()=>this.getStatRequirements>0||"All items have requirements, if they don't they are hidden, check wiki"
        // Checking that total amount of desired colors is in range 0-6, then comparing it with total amount of sockets ( if entered)
      ]
    };
  },
  components: {
    GemInput
  },
  computed:{
      getColoredSockets: function(){
          let count = 0;
          Object.values(this.attributes).forEach(function(e){
              count+=e.sockets;
          })
          return count
      },
      getStatRequirements: function(){
        let count = 0;
        Object.values(this.attributes).forEach(function(e){
          count+=e.requirement;
        })
        return count;
      }
  }, 
  methods: {
    validate: function(){
      return this.$refs.form.validate();
    },
    reset: function(){
      return this.$refs.form.reset();
    }, 
    submit: function(){
      if(this.validate()){
        this.$emit("submit", this.getResult())
      }
    },
    getTotalSockets: function(v){
      this.totalSockets = v
    },
    getResult: function(){
      const result = {
        requirements: [],
        sockets: [],
        totalSockets: parseInt(this.totalSockets) || this.getColoredSockets
      }
      Object.values(this.attributes).forEach(function(el){
        result.requirements.push(parseInt(el.requirement) || 0);
        result.sockets.push(parseInt(el.sockets) || 0); //Sometimes parseInt retunrs NaN that causes errors, even in situations where it should return 0, need to check that later 
      })
      return result
    }
  }
};
</script>

<style>
</style>
