<template>
    <v-container >
        <v-layout align-content-space-around wrap>
            <v-flex xs5 pa-3 v-for="method in methods" :key="method.recipe.toString()">
                <VoriciContainer v-if="method.type=='vorici'" :recipe="method.recipe" :cost="method.cost[0].amount" :chance="method.chance"></VoriciContainer>
            </v-flex>
    </v-layout>
    
        </v-container>
</template>

<script>
import VoriciContainer from "@/components/Chroma/VoriciContainer.vue"
export default {
    data: function(){
        return {
            methods: []
        }
    },
    components: {
        VoriciContainer
    },
    methods: {
        setMethods: function(methods){
            this.methods = methods;
        }
    }
}
</script>

<style>

</style>
