<template>
    <v-card>
        <v-card-title primary-title="">
            <v-card-title class="headline">{{name}}</v-card-title>
            {{formattedChance}}
        </v-card-title>
    </v-card>
</template>

<script>
export default {
    data: function(){
        return {

        }
    },
    props: {
        recipe: Array,
        cost: Number,
        chance: Number
    },
    computed: {
        name: function(){
            return `G${this.recipe[0]}` + `  B${this.recipe[1]}` + `  R${this.recipe[2]}`
        },
        formattedChance: function(){
            return `${this.chance.toFixed(3)*100}%`
        }
    }
}
</script>

<style>

</style>
