<template>
    <v-container fluid>
        <v-layout>
            <v-flex xs3>
                <InputForm @submit="init"></InputForm>
            </v-flex>
            <v-flex xs8>
                <OptionsList ref="optionsList"></OptionsList> 
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import InputForm from "@/components/Chroma/InputForm.vue"
import OptionsList from "@/components/Chroma/OptionsList.vue"
import Calculator from "@/components/Chroma/Calculator.js"
export default {
    data: function(){
        return {
            x: true,
            calc: null
        }
    },  
    components: {
        InputForm, OptionsList
    },
    methods:{
        init: function(event){
            // eslint-disable-next-line no-console
            console.log("Chroma component caught emit", event);
            //submit event returns object with the following structure
            // {
            //     requirements: [dex, int, str], 
            //     sockets: [green, blue, red], 
            //     totalSockets: "4"
            // }
            this.calc = new Calculator(event.totalSockets, event.sockets, event.requirements);
            console.log("This calculator:", this.calc, this.calc.calculateVorici());
            this.$refs.optionsList.setMethods(this.calc.getAllMethods());
            console.log("All vorici methods", this.calc.getAllMethods());
            this.calc.jewellerMethod();

        }
    }
}
</script>

<style>

</style>
