<template>
    <v-footer class="footer" app>
        <v-spacer></v-spacer>
        <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
</template>
<script>
export default {

}
</script>

<style>

</style>
