<template>
    <v-container fluid>
        <v-layout justify-space-around>
          <v-flex xs3>
              <v-text-field type="Number" v-model="number" :min=0 :max=6 @input="update">

              </v-text-field>
            </v-flex>
            <v-flex xs7>
              <v-slider
              always-dirty
                v-bind:value="value"
                v-model="number"
                @input="update"
                :min=0
                :max=6
                :label="label_"
                ticks="always"
                :tick-labels="tickLabels"
                inverse-label
                  
                  
                
              ></v-slider>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
export default {
    data: function(){
      return {
        number: this.value,
        tickLabels: [...Array(7).keys()]
      }
    },
    props:["label_", "value", "color_"],
    methods:{
      update: function(){
        this.$emit('input', this.number);
        this.$emit('validate')
      }
    }
    
    // computed: {
    //     tickLabels: function(){
    //         return [...Array(this.maximum).keys()]
    //     }
    // }
}
</script>

<style>

</style>
