<template>
    <v-toolbar api class="indigo" dark>
        <v-toolbar-items class="hidden-sm-and-down">
            <v-btn flat to="/chroma">Gem Colours</v-btn>
            <v-btn flat disabled>Fossil</v-btn>
        </v-toolbar-items>
        <v-spacer></v-spacer>
        <v-toolbar-title>POETools</v-toolbar-title>
 
    </v-toolbar>
</template>

<script>
export default {

}
</script>

<style>

</style>
