<template>
  <v-app class="gray">
    <Toolbar/>
    <router-view></router-view>
    <Footer/>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import Footer from './components/Footer'
import Toolbar from './components/Toolbar'

export default {
  name: 'App',
  components: {
    Footer, Toolbar
  },
  data () {
    return {
      //
    }
  }
}
</script>
